.text-red{
    color: red;
}

.no-pading {
    padding: 0;
}
.boder-dashed {
    border: 1px dashed #ccc;
    margin: 5px 0;
}
.n3-list-tour .new-bar {
    background: #f1f1f1;
    color: #212121;
    margin-bottom: 30px;
}
.n3-list-tour .new-bar .title{
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
    padding: 15px;
    font-size: 16px;
    color: #fc3400;
}

.inner{
    line-height: 17px;
}
.new-hot {
    width: 100%;
    height: 50px;
}
.w-100 {
    width: 100%;
}
.n3-list-tour .list-tour .list .list-tour-title {
    padding-bottom:25px;
    padding-top:20px
}

.n3-list-tour .list-tour .list .list-tour-title h2.title {
    text-shadow:none;
}

.num-color {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.search-box {
    margin-top: 30px;
    z-index: 9;
    width: 100%;
}

.search-box .form-control {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 6px 12px!important;
}

.search-box button.btn.btn-primary {
    width: 86%;
    border-radius: 21px;
    text-transform: uppercase;
    background: #2865ff;
    border: none;
}

.logo {
    width: 120px;
    height: 80px;
    /*padding: 10px;*/
}
/*.f-left {*/
    /*margin: 0 10px;*/
/*}*/
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-0{
    margin-bottom: 0;
}

.title {
    color: #1E1F21;
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    height: 70px;
    font-weight: 700;
    line-height: 45px;

}

.title::after {
    background: #fd9b28 none repeat scroll 0 0!important;
    border-radius: 3px!important;
    content: ""!important;
    display: block!important;
    height: 6px!important;
    margin: 4px 0 0!important;
    width: 35px!important;
    right: 48%!important;
    position: absolute!important;
    /*bottom: 0;*/
}


#br-section {
    background: url(../images/lm_190828011845_382500.jpg) no-repeat;
    padding: 150px 0;
    text-align: center;
    background-attachment: fixed;
    background-position: 50% center;
    position: relative;
    background-size: cover;
    height: 400px;
}

.br-text h2 {
    line-height: 45px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.br-text strong {
    font-weight: 700;
    color: #FD9B28;
}

.br-text span {
    display: block;
    font-size: 20px;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 18px;
    font-weight: 700;
}

.br-text mark {
    font-weight: 700;
}

#NewTour .frame-tgc2 button {
    padding: 5px 10px;
    background: #fc6600;
    color: #ffff;
    text-align: center;
}


/*************************
      footer
***************************/

#footer2 ul.list-chinhsach li a {
    margin: 10px 0 10px 0!important;
    display: block;
    list-style: none;
    background: url(../images/circle.png) no-repeat left center;
    padding-left: 20px;
    transition: all linear .15s;
}

#footer2 .widget-body li a.location::before {
    content: "\f041";
    font-size: 14px;
}

#footer2 .widget-body li a.phone::before {
    content: "\f095";
    font-size: 14px;
}

#footer2 .widget-body li a.email::before {
    content: "\f003";
    font-size: 14px;
}

#footer2 .widget-body li a.mobile::before {
    content: "\f10b";
    font-size: 14px;
}

.footer-top.footer-row {
    padding: 30px 0 10px;
}

.footer-top h2 span {
    color: #252326;
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-flex;
    padding: 10px 30px;
}

.footer-top h4 {
    color: #252326;
}

#footer2 {
    background: #f2f2f2;
    border-top: 1px solid #cccccc;
    padding: 70px 0 0px;
}

.footer-center {
    text-align: center;
}

#footer2 .footer-row .form-subscribe {
    border: 1px solid #999;
    line-height: normal;
    margin: 0 auto;
}

/*.widget-container ul li a{*/
/*font-size: 17px;*/
/*}*/

#footer2 .footer-row h3 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid rgba(204, 204, 204, 0.85);
    margin-bottom: 20px;
    color: #1e1f21;
}

#footer2 .footer-row .col-footer:first-child h3, #footer2 .footer-row .col-footer:last-child h3 {
    border-bottom: none;
    padding-bottom: 0;

}

#footer2 .footer-row .col-footer p {
    color: #777;
    font-size: 13px;
    line-height: 25px;
}

#footer2 .footer-row .col-footer h3 {

}

#footer2 .footer-center p {
    color: #f1f1f1;
    padding-bottom: 20px;
}

#footer2 .footer-row .form-subscribe .form-group {
    position: relative;
    width: 100%;
}

#footer2 .footer-row .form-subscribe .form-control {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: inherit;
    color: #fff;
    padding-right: 40px;
    width: 100%;
}

#footer2 .footer-row .form-subscribe .btn {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: inherit;
    color: #fff;
    position: absolute;
    right: 0;
    top: 3px;
}

.fa-paper-plane-o::before {
    content: "\f1d9"
}

#footer2 .footer-row {
    /*background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
    color: #252326;
    padding: 30px 0;
}

#footer2 .widget-body li a {
    color: #1e1f21;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

#footer2 .widget-body li a:hover {
    color: #fd9b28;
}

#footer2 .widget-body li {
    margin-bottom: 10px;
}

.my-icon {
    display: inline-block;
    padding: 6px 0;
    border-radius: 50%;
    /*background: #31b0d5;*/
    width: 40px;
    height: 40px;
    border: 2px solid;
}

.my-icon i {
    /*color: #fff;*/
}
.form-subcribe, .wrap-form {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.wrap-form .email-input {
    height: 38px;
    border-radius: 0;
}

#form-subcribe #stm_newsletter_submit {
    background: #1e1f21 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 38px;
    line-height: 40px;
    outline: 0 none !important;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 40px;
}

/*************************
      footer
***************************/
#footer2 .widget-body li a.location::before {
    content: "\f041";
    font-size: 14px;
}

#footer2 .widget-body li a.phone::before {
    content: "\f095";
    font-size: 14px;
}

#footer2 .widget-body li a.email::before {
    content: "\f003";
    font-size: 14px;
}

#footer2 .widget-body li a.mobile::before {
    content: "\f10b";
    font-size: 14px;
}

.footer-top.footer-row {
    padding: 30px 0 10px;
}

.footer-top h2 span {
    color: #252326;
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-flex;
    padding: 10px 30px;
}

.footer-top h4 {
    color: #252326;
}

#footer2 {
    background: #f2f2f2;
    border-top: 1px solid #cccccc;
    padding: 70px 0 0px;
}

.footer-center {
    text-align: center;
}

#footer2 .footer-row .form-subscribe {
    border: 1px solid #999;
    line-height: normal;
    margin: 0 auto;
}

/*.widget-container ul li a{*/
/*font-size: 17px;*/
/*}*/

#footer2 .footer-row h3 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid rgba(204, 204, 204, 0.85);
    margin-bottom: 20px;
    color: #1e1f21;
}

#footer2 .footer-row .col-footer:first-child h3, #footer2 .footer-row .col-footer:last-child h3 {
    border-bottom: none;
    padding-bottom: 0;

}

#footer2 .footer-row .col-footer p {
    color: #777;
    font-size: 13px;
    line-height: 25px;
}

#footer2 .footer-row .col-footer h3 {

}

#footer2 .footer-center p {
    color: #f1f1f1;
    padding-bottom: 20px;
}

#footer2 .footer-row .form-subscribe .form-group {
    position: relative;
    width: 100%;
}

#footer2 .footer-row .form-subscribe .form-control {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: inherit;
    color: #fff;
    padding-right: 40px;
    width: 100%;
}

#footer2 .footer-row .form-subscribe .btn {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: inherit;
    color: #fff;
    position: absolute;
    right: 0;
    top: 3px;
}

.fa-paper-plane-o::before {
    content: "\f1d9"
}

#footer2 .footer-row {
    /*background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
    color: #252326;
    padding: 30px 0;
}

#footer2 .widget-body li a {
    color: #1e1f21;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

#footer2 .widget-body li a:hover {
    color: #fd9b28;
}


.n3-tour-description .sec2 .price {
    color: #fc3400;
    font-weight: bold;
    font-size: 24px;
}

.n3-tour-description .sec2 .unit {
    font-size: 14px;
}

.price-o {
    /*color: #212121;*/
    text-decoration: line-through;
}

.frame-info .sec2 .border-bt {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}

.frame-info .sec2 .price-tour {
    width: 100%;
    background: #29348d;
    border: solid 1px #29348d;
    padding: 24px;
    color: #ffff;
    border-radius: 15px;
}
.frame-info .title-price-tour h3{
   font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.frame-info .btn-dattour button{
   background-color: #006dc0;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 10px;
}

.frame-info .btn-dattour button:hover{
    background-color: #ffffff;
    color: #006dc0;
}


.small-head-text {
    color: #fd9b28;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}

.ui-accordion .ui-accordion-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding-left: 0 !important;
}

/********************************
      section faq
*******************************/
#faq {
    padding: 30px 0;
}

.small-head-text {
    color: #fd9b28;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}

.small-head-text h4 {
    font-weight: 700;
}

.ui-accordion .ui-accordion-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding-left: 0 !important;
}

#faq .ui-icon, #faq .ui-widget-content .ui-icon {
    background: url("../images/plus-symbol.png") no-repeat #fff;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    line-height: 20px;
    background-position: 50%;
    border: 1px solid #fd9b28;
    /*background-size: 12px;*/
    margin-right: 15px;
}

#faq .ui-state-active .ui-icon, #faq .ui-button:active .ui-icon {
    background: url("../images/test-mn.png") no-repeat #fd9b28;
    background-position: 50%;
}

#faq .ui-widget-content {
    border: none !important;
    /*height: auto!important;*/
    /*padding: 5px 37px 10px 55px;*/
}

#faq .ui-widget-content p {
    color: #777;
    font-size: 14px;
    line-height: 25px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: transparent !important;
    border: none !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: #444 !important;
    text-transform: uppercase;
}

.ui-accordion .ui-accordion-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding-left: 0 !important;
}

.ico-contactus i {
    color: #fd9b28;
    font-size: 22px;
}


/*************************************
      consulting add style
***************************************/
/*********************************
      up-header
*******************************/
#up-header {
    background: #fff;
    padding: 20px 0 15px;
}

#up-header .logo {
    /*text-align: center;*/
}

#up-header .info-up-head {
    padding-top: 10px;
}

#up-header .inner {
    text-align: left;
    font-size: 13px;
    color: #1e1f21;
    padding: 0 0 0 5px;
}

.ico-contactus {
    padding: 0;
    text-align: center;
}

.ico-contactus i {
    color: #fd9b28;
    font-size: 22px;
}

/***********************************
      menu
*******************************/
#my-nav ul li a {
    /*border-right: 1px solid #dcdcdc;*/
    padding: 20px 25px;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    background: #f8f8f8;
}

/*#main-menu .menu-item li:first-child a {*/
    /*padding-left: 0;*/
/*}*/

#my-nav .navbar-nav.navbar-right li a {
    padding: 20px 25px 20px 0;
    color: rgba(255, 255, 255, 0.66);
    font-size: 18px;
    cursor: pointer;
}

#my-nav .navbar-nav.navbar-right li a#my-search {
    padding: 20px 25px;
}

#my-nav .navbar-nav.navbar-right li a#my-search::before {
    content: "";
    height: 27px;
    right: 100%;
    margin: -14.5px 0 0;
    position: absolute;
    top: 50%;
    width: 1px;
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
}

#my-nav ul li:last-child a::after, #my-nav ul li ul li a, #my-nav .navbar-nav.navbar-right li a::after {
    content: none;
}

#my-nav ul li.active a {
    /*color: #fd9b28;*/
    font-weight: bold;
}

#my-nav ul li a::after {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    content: "";
    height: 27px;
    left: 100%;
    margin: -14.5px 0 0;
    position: absolute;
    top: 50%;
    width: 1px;
}


.dropdown-menu {
    background: #fff;
}

#main-menu .menu-item .dropdown-menu li:first-child a {
    padding: 10px 15px;
}

#my-nav ul.dropdown-menu li a {
    color: #333;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 15px;
}

#my-nav ul.dropdown-menu li{
    border-bottom: 1px dashed #ccc;
}

#my-nav ul.menu-item li a:hover  {
    background: #f8f8f8;
    color: red;
}


#my-nav ul.dropdown-menu li:hover a {
    background: #f8f8f8;
    color: red;
}

.dropdown-menu li a:hover {
    background: transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background: transparent;
    color: #007f00;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #007f00;
}